{% extends 'mailing/base.html' %}

{% block title %} Рассылки {% endblock %}

{% block content %}
    {% if mailings %}
        <div class="row  text-center">
            <div class="col-12 mt-1">
                <h4 class="mb-2 text-center mt-4"><a href="{% url 'mailing:mailing_list' %}" >
                    <img src="https://img.icons8.com/?size=160&id=CwALVGlLhZCp&format=png" style="width: auto; height: 37px;" class="mx-1" title="Вернуться к списку">
                </a>Активные рассылки | {{ count }}</h4>
            </div>
                <div class="col-12">
                    <div class="row">
                        {% for mailing in mailings %}
                        <div class="col-4 text-center">
                            <h4 class="mt-2 text-center"></h4>
                    <p class="text-start">
                        <button class="rounded text-start w-100 btn btn-outline-light border border-secondary-subtle">
                            <a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="{% url 'mailing:mailing_detail' mailing.pk %}">
                                <h6 class=" mt-2 text-success-emphasis">Тема письма:</h6>{{ mailing.message }} <h6 class=" mt-2 text-success-emphasis"></h6>
                                <h6 class=" mt-2 text-success-emphasis">{{ mailing.status }}</h6>
                                <h6 class=" mt-2 text-success-emphasis">{{ mailing.start_time|date:"d/m/Y" }} - {{ mailing.end_time|date:"d/m/Y" }}</h6></a></button> </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    {% else %}
            <div class="col-12 mt-1">
                <h4 class="mb-2 text-center mt-4">Извините, тут ничего нет <a href="{% url 'mailing:mailing_list' %}" ><img src="https://img.icons8.com/?size=160&id=CwALVGlLhZCp&format=png" style="width: auto; height: 37px;" class="mx-1" title="Вернуться к списку"></a></h4>
            </div>
    {% endif %}
{% endblock %}
