{% extends 'base.html' %}

{% block title%}Сообщения{% endblock %}

{% block content %}

<h4 class="text-center mt-2">
    <button class="rounded text-center mt-3 w-100 btn btn-outline-light border border-secondary-subtle">
        <a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0"
            href="{% url 'mailing:message_create'%}">
            Перейти к созданию письма
        </a>
    </button></h4>
<h4 class="text-center mt-4">
    <img src="https://cdn-icons-png.flaticon.com/128/684/684820.png" class="mx-1" style="width: auto; height: 30px;">
    Список доступных сообщений | {{ count }}
</h4>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-2  text-center">
        {% for message in messages %}
        <button class="rounded text-center mt-3 w-100 btn btn-outline-light border border-secondary-subtle">
            <a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0"
                href="{% url 'mailing:message_detail' message.pk %}">
                {{ message.subject }}
            </a></button>
        {% endfor %}
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}
