{% extends 'base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}

<table class="table table-striped">
    <h4 class="text-center mt-4"><img src="https://cdn-icons-png.flaticon.com/128/684/684833.png" class="mx-1" style="width: auto; height: 30px;"> Список доступных получателей | {{ recipients_count }}</h4>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th>Комментарий</th>
            <th>Действия </th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in recipients %}
            <tr>
                <td>{{ recipient.fio }}</td>
                <td>{{ recipient.email }}</td>
                <td>{{ recipient.comment }}</td>
                <td>
                    <a href="{% url 'mailing:recipient_update' recipient.pk %}" class="btn btn-warning">Редактировать</a>&nbsp;
                    <a href="{% url 'mailing:recipient_delete' recipient.pk %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            {% if empty %}
                <p>Нет получателей</p>
            {% endif %}
        {% endfor %}
    </tbody>
<a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient_create' %}">Добавить получателей</a>
</table>
{% endblock %}