{% extends 'base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th>Комментарий</th>
            <th>Действия </th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in recipients %}
            <tr>
                <td>{{ recipient.fio }}</td>
                <td>{{ recipient.email }}</td>
                <td>{{ recipient.comment }}</td>
                <td> Кнопки  </td>
            </tr>
            {% if empty %}
                <p>Нет получателей</p>
            {% endif %}
        {% endfor %}
    </tbody>
<a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient_create' %}">Добавить получателей</a>
</table>
{% endblock %}